<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/person/new">Create new person</a>
    <ul>
        <% for(person of people) {%>
            <a href="/person/<%=person._id%>">
                <li><%=person.name %></li>
            </a>
        <%} %>
    </ul>
</body>
</html>