<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include('./partials/back') %>

    <form action="/people" method="POST">
        <fieldset>
            <legend> Create a person</legend>
            
            
            <label>
                Name: <input type="text" name="name" placeholder="enter a todo" />
                
            </label>
            <br>
            <label>
                Image Url: <input type="text" name="imageUrl" />
                
            </label>
            <br>
            <label>
                Title: <input type="text" name="title"   />
                
            </label>
        </fieldset>
        <input type="submit" value="create new person"/>
    </form>

    
</body>
</html>